li {
  list-style: none;
}

.weather,
.weatherForm {
  margin: 0 auto;
  margin-top: 20px;

  width: 50%;
}

.weatherForm {
  text-align: center;
}

.weather {
  border: solid gray;
  width: 55%;
  padding: 10px;
}

.name {
  font-size: 22px;
  font-weight: 700;
}

.date {
  font-size: 20px;
  font-weight: 500;
  color: gray;
}

.temp {
  font-size: 32px;
  font-weight: 600;
}

.right-side {
  font-size: 20px;
  padding-top: 15px;
}

.right-side > li {
  padding-bottom: 15px;
}

.active {
  color: red;
}

.celFah {
  text-decoration: none;
}
